// -------------------------------
// BLOG
// -------------------------------
.entry-content{
  padding-top: 50px;
  padding-bottom: 50px;
}
.blog-posts{

}

.meta-content{
  display: block;
  margin-bottom: 20px;
  .author{
    margin-bottom: 10px;
  }
  .post-categories{
    a{
      margin-right: 10px;
    }
  }
}

// -------------------------------
// BLOG POST
// -------------------------------