
// -------------------------------
// FOOTER
// -------------------------------
.site-footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: $themeColor;
  color: white;
  padding: 15px 0;
  a{
    color: $textColorHover;
  }
}