// -------------------------------
// HEADER
// -------------------------------
#masthead{
  background: $color2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  .header-content{
    display: flex;
    justify-content: space-between;
  }
  a{
    transition: all .3s;
  }
  a:hover{
    color: $textColorHover;
  }
  svg:hover{
    fill: $textColorHover;
  }
}
body.admin-bar #masthead{
  top: 30px;
}

.header-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

// --------- LOGO
.site-title{
  width: 200px;
  a{
    color: $textColor;
    font-size: 20px;
    text-transform: uppercase;
    border: 2px solid;
    padding: 0px 4px 0px  5px;
    letter-spacing: 1px;
  }
}

// --------- MENU
.menu-header-menu-container{
  display: flex;
  align-items: center;
  .site-menu{
    display: flex;
    flex-wrap: wrap;
    li{
      list-style: none;
    }
    a{
      padding: 4px 10px;
      color: white;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 1px;
      font-size: 18px;
    }
    a:hover{
      color: $textColorHover;
    }
  }
}
// --------- ICONS
.header-icons {
  width: 200px;
  text-align: right;
  color: $textColor;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  a {
    margin-left: 10px;
    display: flex;
  }
  svg {
    transition: all .3s;
    width: 24px;
    height: 20px;
    color: #fff;
    fill: #fff;
  }
}
