// Colors
$themeColor: rgb(85,83,84);
$color2: rgba(85,83,84, .6);
$color3: #a06f3a;
$textColor: #fff;
$textColorHover: rgb(226, 176, 122);
$mainBgColor: #eeeeee;

html, body{
  padding: 0;
  margin: 0;
}
body{
  background: $mainBgColor;
}
body:not(.home){
  padding-top: 62px;
}



// imports
@import 'typography';
@import 'header';
@import 'footer';



// -------------------------------
// Grid
// -------------------------------
.container{
  display: block;
  width: 1240px;
  margin: 0 auto;
  max-width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}
.container.padding-0{
  padding: 0;
}

// -------------------------------
// Front page
// -------------------------------
// section - OVERVIEW
section#home-overview{
  min-height: 600px;
  display: flex;
  text-align: center;
  align-items: center;
  .text-content{
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    h3{
      font-weight: 300;
      font-size: 25px;
      span{
        background: $textColor;
        color: #929190; // current bg color
        padding: 0 4px;
      }
    }
  }
  img.background{
    object-position: bottom;
  }
}

#home-overview {
  .animate-area{
    position: relative;
    height: 50px;
  }
  h3.animate-text {
    opacity: 0;
    position: absolute;
  }
  h3.animate-text:nth-child(1) {
    opacity: 1;
  }
}

// section - SERVICES
#home-services{
  .services-wrap{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
    .service-item{
      width: 33.33%;
      text-align: center;
      padding: 20px 15px;
      box-sizing: border-box;
      opacity: .8;
      transition: all .3s;
      cursor: default;
    }
    .service-icon{
      fill: #a06f3a;
      transition: all .3s;
      svg{
        width: 100px;
        height: 100px;
        transition: all .3s;
      }
    }
    .service-item:hover{
      opacity: 1;
    }
    .service-item:hover .service-icon svg{
      transform: scale(1.1);
      fill: #000;
    }
    .service-title{
      transition: all .3s;
      font-size: 20px;
      margin-top: 12px;
      font-weight: 300;
      width: 300px;
      display: inline-block;
    }
  }
}

// ABOUT US
section#about-us{
  padding-bottom: 80px;
  .text-content{
    width: 800px;
    max-width: 100%;
    font-weight: 300;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.8;
  }
}