// Colors
$mainBgColor: #eeeeee;
$themeColor: cadetblue;
$headerBg: rgba($themeColor, .5);
$headerBgScroll: rgba($themeColor, .9);
$color3: $themeColor;
$textColor: #fff;
$textColor2: #4a4a4a;
$textColorHover: $themeColor;

html, body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
body{
  background: $mainBgColor;
}
body:not(.home){
  //padding-top: 62px;
}

// imports
@import 'typography';
@import 'header';
@import 'footer';
@import 'blog';

// -------------------------------
// Grid
// -------------------------------
.container{
  display: block;
  width: 1240px;
  margin: 0 auto;
  max-width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}
.container.padding-0{
  padding: 0;
}
// sections
section{
  padding: 0 30px;
}
section.with-bg{
  position: relative;
  background: rgba(0,0,0,.4);
  color: #fff;
  img.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }
}
section.bg-white .container{
  background: #fff;
  width: 1180px;
}
img{
  max-width: 100%;
}
.padding-left-15{
  padding-left: 15px;
}
.padding-right-15{
  padding-right: 15px;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.col{
  box-sizing: border-box;
}

.col-50{
  width: 50%;
}
.col-40{
  width: 40%;
}
.col-30{
  width: 30%;
}
.col-33{
  width: 33.333%;
}
.col-35 {
  width: 35%;
}
.col-25{
  width: 25%;
}

// -------------------------------
// Front page
// -------------------------------
// section - OVERVIEW
section.banner{
  min-height: 600px;
  display: flex;
  text-align: center;
  align-items: center;
  .text-content{
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    p{
      margin-top: 0;
      font-weight: 300;
      font-size: 25px;
      span{
        background: $themeColor;
        padding: 0 4px;
      }
    }
  }
  .animate-area{
    position: relative;
    height: 50px;
  }
  p.animate-text {
    opacity: 0;
    position: absolute;
  }
  p.animate-text:nth-child(1) {
    opacity: 1;
  }
  img.background{
    object-position: bottom;
  }
}

// ABOUT US
section#about-us{
  .text-content{
    width: 800px;
    max-width: 100%;
    font-weight: 300;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.8;
    padding-bottom: 50px;
  }
}

// section - TEAM
.team-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 30px;
  padding-bottom: 80px;
  .employer{
    .img-employer{
      img{
        width: 100%;
      }
    }
    .name{
      font-weight: bold;
      letter-spacing: 2px;
      margin-top: 10px;
      margin-bottom: 10px;
      line-height: 1;
      color: $textColor2;
      a{
        float: right;
        svg{
          width: 28px;
          height: 24px;
          fill: $textColor2;
        }
      }
    }
    .description{
      line-height: 1;
      margin-bottom: 10px;
    }
  }
}

// section - SERVICES
#home-services{
  .services-wrap{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 30px;
    .service-item{
      text-align: center;
      box-sizing: border-box;
      transition: all .3s;
      cursor: default;
    }
    .service-icon{
      fill: $themeColor;
      transition: all .4s;
      svg{
        width: 100px;
        height: 100px;
        transition: all .3s;
      }
    }
    .service-item:hover .service-icon svg{
      transform: scale(1.05);
      //fill: #000;
    }
    .service-title{
      transition: all .3s;
      font-size: 20px;
      margin-top: 12px;
      font-weight: 300;
      width: 300px;
      display: inline-block;
    }
  }
}

// section - PORTFOLIO
#portfolio{
  .portfolio-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 0;
    padding-bottom: 80px;
    .portfolio-item{
      position: relative;
      overflow: hidden;
      .portfolio-img-wrap{
        padding-bottom: 87%;
        display: block;
      }
      .project-wrap{
        //border: 1px solid $textColor2;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: all .4s;
        z-index: 1;
        opacity: 0;
        background: rgba($textColor2, .4);
      }
      .project-title{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        left: 0;
        right: 0;
        color: $textColor;
        font-size: 34px;
        text-transform: uppercase;
        font-weight: 300;
        transition: all .4s;
      }
      img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .4s;

      }
    }
    .portfolio-item:hover{
      img{
        transform: scale(1.1);
      }
      .project-wrap {
        opacity: 1;
        transform: scale(0.9);
      }
    }
    //.portfolio-item-1{
    //  grid-row: span 1;
    //  grid-column: span 2;
    //}
  }
}


@media only screen and (max-width: 1320px) {
  section .container{
    padding-left: 0;
    padding-right: 0;
  }
}
/* Medium devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
}

/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .menu-header-menu-container{
    display: none;
  }
  .row .col{
    width: 100%;
    padding: 0;
  }
}


// Work - single page (portfolio)
.single-work{
  //.slide-content{
  //  width: 100%;
  //  height: 100vh;
  //  position: relative;
  //  img{
  //    position: absolute;
  //    width: 100%;
  //    height: 100%;
  //    object-fit: cover;
  //  }
  //}
  //
  //.project-url{
  //  font-size: 20px;
  //}
  #masthead{
    background: rgba(0,0,0,.3) !important;
  }
  footer{
    display: none;
    background: linear-gradient(to right, #512e7f 0, #a5196a 80%, #a5196a 100%);
  }
}

.portfolio-banner{
  height: 100vh;
  display: flex;
  transition: all .5s;
  .left-side{
    width: 50%;
    background: $textColor2;
    background: linear-gradient(to right,#512e7f 0,#a5196a 80%,#a5196a 100%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .left-side-content{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: $textColor;
      width: 620px;
      padding-top: 400px;
      height: 100%;
      box-sizing: border-box;
      font-size: 18px;
      padding-left: 30px;
      padding-right: 30px;
      .line{
        width: 40px;
        height: 4px;
        background: #fff;
        margin-bottom: 30px;
        margin-top: 30px;
      }
      h1{
        font-size: 44px;
        letter-spacing: 4px;
      }
      a{
        color: $textColor;
        text-decoration: underline;
      }
    }
    .message-for-video{
      text-align: center;
      position: relative;
      padding-bottom: 20px;
      img.mouse-down{
        filter: invert(1);
        width: 64px;
        margin-top: 20px;
        //position: absolute;
        //bottom: -90px;
        //left: 100px;
      }
      p{
        margin-top: 0;
      }
    }
  }
  .right-side{
    width: 50%;
    position: relative;

    img{
      height: 100%;
      object-fit: cover;
      object-position: left;
    }
    video{
      width: 100vh;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 100%;
      object-fit: cover;
      object-position: left;
      transition: all .8s;
      outline: none;
    }
  }
}

.portfolio-banner.show-video{
  margin-left: calc(-100% + 600px);
  video{
    left: 0;
    width: 100%;
    object-position: center;
  }
}
