@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
  color: $textColorHover;
}

h1, h2, h3, h4, h5, h6{
  margin-top: 0;
}

// sections
section.with-bg{
  position: relative;
  background: rgba(0,0,0,.4);
  color: #fff;
  img.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }
}